@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Playfair+Display&display=swap');

/* Initial overall border preset */
* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', sans-serif;
    background-color: rgb(42, 42, 42);
}

/* style for the headings of the quiz */
h1 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 5rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
}

/* style for the container div */
.container {
    width: 80%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

/* stlye for the Classes flex center and flex column  */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/* may add later */
.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Style for the button */
.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #000;
    background: linear-gradient(90deg, rgb(232, 13, 13) 0%, rgb(0, 102, 255) 100%);
    border-radius: 4px;
}

/* adds a hover effect for the button */
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(223, 9, 216, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

/* styling for the form */
#username {
    margin: 2rem;
    background-color: rgba(223, 9, 216, 0.6);
}

label {
    color: #fff;
    margin-right: 2rem;
    width: 200px;
    height: 200px;
}

input[radio] {
    margin-bottom: 2rem;
}

.submit-btn {
    margin-top: 3rem;
}

/* Styling for the The question containers and the question */
.container2 {
    width: 100%;
}

#question {
    color: #fff;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.answer-container {
    font-size: 2rem;
    padding: 2rem 0;
    width: 35rem;
    height: 150px;
    text-align: center;
    margin-bottom: 8rem;
    text-decoration: none;
    color: #000;
    background: linear-gradient(90deg, rgb(232, 13, 13) 0%, rgb(0, 102, 255) 100%);
    border-radius: 4px;
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(223, 9, 216, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.choice-letter {
    background: inherit;
}

.answer1 {
    background: inherit;
}

.answer2 {
    background: inherit;
}

.answer3 {
    background: inherit;
}

.answer4 {
    background: inherit;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* styling for the hud are of quiz */
.hud {
    width: 100%;
}

.hud-inner-item {
    color: #fff;
    font-size: 3rem;
}

#score {
    font-size: 5rem;
}

#question-counter {
    font-size: 5rem;
}