@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Playfair+Display&display=swap');

/* Initial overall border preset */
* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', sans-serif;
    background-color: rgb(42, 42, 42);
}

/* style for the headings of the quiz */
h1 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 5rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
}

/* style for the container div */
.container {
    width: 80%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

/* stlye for the Classes flex center and flex column  */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/* may add later */
.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Style for the button */
.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #000;
    background: linear-gradient(90deg, rgb(232, 13, 13) 0%, rgb(0, 102, 255) 100%);
    border-radius: 4px;
}